@model TravelAgency.Models.ArrangementPriceSpecial

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Arrangement and Price for Special offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hotel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }

    @Html.ActionLink("Back to List", "Index")
</p>
