@model TravelAgency.Models.AddArrangementSpecialOffer
@{
    ViewBag.Title = "AddArrangement";
}

<h2>Додади термин и цена за @Html.ActionLink(Model.hotel.Name, "Details", new { id = Model.HotelSpecialOfferId })</h2>
@using (Html.BeginForm("AddArrangement", "HotelSpecialOffers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.dateTime)
        @Html.TextBoxFor(m => m.dateTime, new { @class = "form-control", type = "date" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.price)
        @Html.TextBoxFor(m => m.price, new { @class = "form-control", type = "number" })
    </div>
    @Html.HiddenFor(m => m.HotelSpecialOfferId)
    <button type="submit" class="btn btn-primary">Add Arrangement</button>

}