<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="height:100vh;width:200px;background-color:cornsilk">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto flex-column" style="margin-bottom:260px">
                <li class="nav-item text-center mb-5">
                    <img src="~/img/logo.jpg" style="height:150px;width:150px" class="rounded rounded-circle">
                </li>
                <li class="nav-item text-center text-white">
                    @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link text-white" }, null)
                </li>
                <li class="nav-item text-center text-white">
                    @Html.ActionLink("Distant Destinations", "Index", "DistantDestinations", new { @class = "nav-link text-white" }, null)
                </li>
                <li class="nav-item text-center text-white">
                    @Html.ActionLink("Cruises", "Index", "Cruises", new { @class = "nav-link text-white" }, null)
                </li>
                <li class="nav-item text-center text-white">
                    @Html.ActionLink("Special offers", "Index", "SpecialOffers", new { @class = "nav-link text-white" }, null)
                </li>
                <li class="nav-item text-center text-white">
                    @Html.ActionLink("Hotels", "Index", "Hotels", new { @class = "nav-link text-white" }, null)
                </li>
                <li class="nav-item text-center text-white">
                    @Html.ActionLink("Hotels with special offer", "Index", "HotelSpecialOffers", new { @class = "nav-link text-white" }, null)
                </li>
                @Html.Partial("_LoginPartial")
            </ul>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>